#mainText {
font-family: Arial, sans-serif;
font-size: 13px;
line-height: 1.3;
margin: 10px 0 30px 0;
}

enc_part {
float: left;
width: 220px;
padding: 5px;
text-decoration:underline;
}

.enc_href:hover {
color:#f2533d;
text-decoration: underline;
}

.enc_href{
float: left;
width: 220px;
padding: 5px;
text-decoration: underline;
}

h3 {
font-size:20px;
}

#enc_desc {
font-family: Arial, sans-serif;
font-size: 13px;
line-height: 1.3;
padding: 80px 0 80px 0;
}
