#mainText {
line-height: 1.3;
}

#mainText .first_row{
/**text-align:center;**/
font-size:16px;
}

#mainText .letter{
font-family:corsiva;
font-size:25px;
padding-right:3px;
}

#mainText .letter:hover{
color:#f2533d;
}

#mainText .name{
font-size:28px;
}

#mainText .lan_ref{
color:#E84E4D;
line-height:2;
font-size:14px;
}

#mainText .lan_ref:hover{
text-decoration: underline;
}

h3 {
margin: 3px 0;
}