#page_cont{
    width: 860px;
    margin: 0 auto;
}

h5.delivery{
    /*padding: 8px 0 0 0;*/
    text-align: center;
    font-size: 21px;
    font-family: 'HaginCapsMedium';
    font-weight: normal;
    margin: 0;
}

.delivery span{
    background: url(../static/images/delivery_header.jpg) no-repeat;
    width: 9px;
    height: 15px;
    display: inline-block;
    margin: 0 24px 0 24px;
    vertical-align: text-top;
}

h1{
    text-align: center;
    font-family: 'HaginCapsMedium';
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}

p{
    margin: 30px 0;
    font-size: 18px;
    font-family: "Times New Roman";
}

#delivery_prices{
    width: 830px;
    table-layout: fixed;
    margin: 0 0 30px 0;
}

#delivery_prices th{
    padding: 0 0 30px 0!important;
    color: #fff;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.3);
    font-family: 'MyriadProRegular';
    font-size: 22px;
    font-weight: normal;
    height: 45px;
}

#delivery_prices td, #delivery_prices th{
    vertical-align: middle;
    text-align: center;
    width: 264px;
    overflow: hidden;
}

#delivery_prices td{
    padding-left: 18px;
}

#delivery_prices td.price{
    font-size: 23px;
    font-family: 'MyriadPro BoldIt';
}

#delivery_prices table td{
    padding: 0;
    text-align: left;
}

#delivery_prices th.orange{
    background: url(../static/images/delivery_orange.jpg) no-repeat;
}

#delivery_prices th.blue{
    background: url(../static/images/delivery_blue.jpg) no-repeat;
}

#delivery_prices th.green{
    background: url(../static/images/delivery_green.jpg) no-repeat;
}

#delivery_prices table{
    color: #4f4f4f;
}

#delivery_prices .time{
    background: url(../static/images/delivery_check.jpg) no-repeat;
    padding: 0 0 0 20px;
    display: inline;
    font-family: 'MariadProRegular';
    font-size: 15px;
}

#delivery_prices .time span{
    font-family: 'MyriadPro BoldIt';
}

.page_buttons{
    text-align: center;
    margin: 40px 0 0 0;
}

.page_buttons a{
    display: inline-block!important;
    float: none!important;
    margin-right: 10px;
    font-size: 14px;
}