{% extends 'base.html' %}

{% block title %}Произошла ошибка платежной системы. Попробуйте позже.{% endblock %}

{% block content %}
    <div id="ordered">
        <div class="head">Ошибка</div>
        <div class="cont">
            Произошла ошибка платежной системы при оплате Вашего заказа или были переданы невалидные данные.
            <br>
            Попробуйте оплатить его еще раз немного позже, воспользовавшись ссылкой на заказ, отправленной на ваш почтовый ящик.
            <br>
            <br>
            <a href="/">Вернуться в магазин</a>
        </div>
    </div>
{% endblock %}