{% extends 'base.html' %}

{% block title %}Условия и сроки доставки цветов магазина MayFlo.ru{% endblock %}
{% block keywords %}доставка цветов и букетов, сроки доставки, условия доставки{% endblock %}
{% block description %}
    Магазин MayFlo.ru осуществляет доставку цветов и букетов по Москве и Московской области.
    Наша служба доставки работает с 9.00 до 21.00.
{% endblock %}

{% block ext_head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/catalog.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/catalog.css">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/page.css">
{% endblock %}

{% block content %}
    <div id="del_pay_main_content">
        <div id="page_cont">
            <h1>Условия доставки</h1>

            <p>
                При заказе цветов на нашем сайте, Вы тем самым, подтверждаете, что ознакомлены и согласны с нижеперечисленными правилами и условиями доставки.
            </p>

            <h5 class="delivery"><span></span>Основные положения доставки<span></span></h5>

            <p>
                Возможность доставки заказов День в День после 12:00 уточняйте по телефону 8 (495) 720 72 45.

            </p>

            <p>
                Стандартное время доставки заказов с 9 до 21 часов по Москве и Московской области.
            </p>

            <p>
                Стоимость доставки зависит от выбранного Вами типа доставки. Бесплатна доставка осуществляется для заказов от 4000 рублей.
            </p>

            <p>
                Узнать время и стоимость подходящей для Вас доставки Вы можете, восползовавшись следующим помощником.
            </p>

            {% include 'blocks/delivery_types.html' %}

            <h5 class="delivery"><span></span>Условия получения заказа<span></span></h5>

            <p>
                Мы можем предварительно созвониться с получателем перед доставкой для уточнения конкретного времени и адреса, либо не созвониться, сохраняя анонимность во время доставки.
            </p>
            <p>
                При отсутствии получателя в момент доставки, курьер будет ждать 15 минут. Повторная доставка заказа осуществляется при компенсации затрат на её осуществление. По истечению 24 часов с момента несостоявшейся доставки заказ оплачивается повторно, поскольку цветы являются скоропортящимся товаром.
            </p>
            <p>
                Заказ доставляется получателю лично и не может быть оставлен у соседей, если иное не оговорено заранее. При доставке на рабочий адрес заказ может быть оставлен на вахте или у коллег, при условии подтверждения присутствия получателя в этот день по месту работы. Если адресом доставки является гостиница или отель, доставка букета гарантируется только до ресепшена, поэтому для успешной доставки заказа необходимо указывать номер комнаты, в которой проживает получатель и его сотовый номер, чтобы сообщить ему о доставленном подарке.
            </p>
            <p>
                Если доставка не была осуществлена по причине того, что заказчиком был указан неверный адрес, стоимость заказа удерживается, и возврат средств не осуществляется.
            </p>

            <h5 class="delivery"><span></span>Доставка в час-пик<span></span></h5>

            <p>
                При загруженности московских дорог (7 баллов и выше по данным "Яндекс.Пробки") время может быть скорректировано.
            </p>

            <h5 class="delivery"><span></span>Состояние заказа<span></span></h5>

            <p>
                После доставки Вашего заказа, Вы в течение 2х часов получите SMS уведомление о доставке. Если с момента доставки прошло больше 2х часов, а уведомление так и не пришло, Вы можете уточнить статус заказа по тел. 8 (495) 720 72 45
            </p>

            <h5 class="delivery"><span></span>Доставка в праздники и предпраздничные дни<span></span></h5>

            <p>
                Пик нагрузки на нашу службу приходится на Новый Год, 1 Сентября, День Святого Валентина и 8 марта, поэтому доставка в эти и предшествующие им дни осуществляется только по предварительному заказу за один день до доставки, доставка день в день в этот период не осуществляется.
            </p>

            <h5 class="delivery"><span></span>Претензии по качеству и количеству цветов<span></span></h5>

            <p>
                Претензии по состоянию букета принимаются только в момент передачи букета заказчику. Если во время приема заказа обнаружиться недостача цветов заказчик вправе потребовать перерасчет суммы заказа. Если цветы имеют ненадлежащее качество, заказчик вправе отказаться от заказа. Если заказчик произвел оплату заказа и подтвердил его получение подписью, заказ считается исполненным в полной мере.
            </p>
            <p>
                Если получателем цветов является не заказчик, претензии по качеству и количеству цветов после приема заказа не принимаются.
            </p>
            <p>
                При отсутствии необходимых цветов, упаковки или подарков, они  могут быть заменены на равноценные по внешнему виду, цветовой гамме и цене.
            </p>


            <h5 class="delivery"><span></span>Отмена заказа<span></span></h5>

            <p>Заказ может быть отменен не позднее, чем за 24 часа до его выполнения.</p>

            <p>Заказ не может быть отменен, если он оформлен как заказ день в день.</p><p>

        </p>
            <br><br><br>
        </div>

        <div class="clear"></div>
    </div>
{% endblock %}