{% comment %}
<div id="reasons">
    <div class="title hagin_caps">5 причин выбрать нас</div>
    <ul>
        <li class="first">
            <div class="img"></div>
            <div class="reason">ВСЕГДА СВЕЖИЕ</div>
            <div class="description">Мы работаем только под заказ, поэтому цветы в наших букетах всегда самые свежие!</div>
        </li>

        <li class="second">
            <div class="img"></div>
            <div class="reason">большой выбор</div>
            <div class="description">Вы сами выбираете сорт и количество цветов для букета!</div>
        </li>

        <li class="third">
            <div class="img"></div>
            <div class="reason">лучший подарок</div>
            <div class="description">Сделайте неповторимый подарок. Добавьте к букету необычность!</div>
        </li>

        <li class="fourth">
            <div class="img"></div>
            <div class="reason">Доступная цена</div>
            <div class="description">Адекватный уровень цен на все типы услуг!</div>
        </li>

        <li class="fifth">
            <div class="img"></div>
            <div class="reason">Бережная доставка</div>
            <div class="description">Доставим бережно и в срок! Можете на нас положиться!</div>
        </li>
    </ul>
</div>
{% endcomment %}

<div id="reasons">
    <div class="title hagin_caps">5 причин выбрать нас</div>
    <div class="shadow_title"></div>
    <ul>
        <li class="first">
            <div class="img2"></div>
            <div class="img"></div>
            <div class="reason">ВСЕГДА СВЕЖИЕ</div>
            <div class="description">Мы работаем только под заказ, поэтому цветы в наших букетах всегда самые свежие!</div>

        </li>

        <li class="second">
            <div class="img2"></div>
            <div class="img"></div>

            <div class="reason">большой выбор</div>
            <div class="description">Вы сами выбираете сорт и количество цветов для букета!</div>

        </li>

        <li class="third">
            <div class="img2"></div>
            <div class="img"></div>

            <div class="reason">лучший подарок</div>
            <div class="description">Сделайте неповторимый подарок. Добавьте к букету необычность!</div>

        </li>

        <li class="fourth">
            <div class="img2"></div>
            <div class="img"></div>

            <div class="reason">Доступная цена</div>
            <div class="description">Адекватный уровень цен на все типы услуг!</div>

        </li>

        <li class="fifth">
            <div class="img2"></div>
            <div class="img"></div>

            <div class="reason">Бережная доставка</div>
            <div class="description">Доставим бережно и в срок! Можете на нас положиться!</div>

        </li>
    </ul>
</div>