<li class="active">
    		<i class="icon-chevron-down"></i>
    <a class="white_a" href="http://mayflo.ru/bouquet/category_17/" onclick="return false;">Розы</a>

    <ul style="display:none;">

	    <li>
            <a href="http://mayflo.ru/bouquet/category_21/"> - 101 Роза</a>
        </li>
	
        <li>
            <a href="http://mayflo.ru/bouquet/category_17/"> - Розы 40-60см</a>
        </li>

        <li>
            <a href="http://mayflo.ru/bouquet/category_1/"> - Элитные розы 70см</a>
        </li>

        <li>
            <a href="http://mayflo.ru/bouquet/category_23/"> - Букеты с розами</a>
        </li>

    </ul>

</li>

	<li>
    
    <a class="white_a" href="http://mayflo.ru/bouquet/category_15/#" onclick="return false;">Цветы
		<i class="icon-chevron-down"></i>
	</a>

    <ul style="display:none;">

        <li>
            <a href="http://mayflo.ru/bouquet/category_19/"> - Новинки</a>
        </li>

        <li>
            <a href="http://mayflo.ru/bouquet/category_20/"> - Хиты продаж</a>
        </li>

        <li>
            <a href="http://mayflo.ru/bouquet/category_21/"> - Просто Розы</a>
        </li>

		<li>
            <a href="http://mayflo.ru/bouquet/category_23/"> - Букеты с Розами</a>
        </li>
		
        <li>
            <a href="http://mayflo.ru/bouquet/category_18/"> - Тюльпаны</a>
        </li>

        <li>
            <a href="http://mayflo.ru/bouquet/category_24/"> - Герберы</a>
        </li>

        <li>
            <a href="http://mayflo.ru/bouquet/category_26/"> - Орхидеи</a>
        </li>

        <li>
            <a href="http://mayflo.ru/bouquet/category_25/"> - Ромашки</a>
        </li>
    </ul>

</li>

<li>
    <a href="http://mayflo.ru/bouquet/category_18/">Тюльпаны</a>
</li>



	<li style="width:150px;">
    
    <a class="white_a" href="http://mayflo.ru/bouquet/category_15/#" onclick="return false;">Букеты по цене
		<i class="icon-chevron-down"></i>
	</a>

    <ul style="display:none;">

        <li>
            <a href="http://mayflo.ru/bouquet/category_10/"> - Букеты до 2500</a>
        </li>

        <li>
            <a href="http://mayflo.ru/bouquet/category_12/"> - Букеты до 3000</a>
        </li>

        <li>
            <a href="http://mayflo.ru/bouquet/category_13/"> - Букеты до 4000</a>
        </li>

		<li>
            <a href="http://mayflo.ru/bouquet/category_14/"> - Букеты до 5000</a>
        </li>
		
		<li>
            <a href="http://mayflo.ru/bouquet/category_31/"> - Букеты до 6000</a>
        </li>
		
        <li>
            <a href="http://mayflo.ru/bouquet/category_15/"> - Premium Букеты</a>
        </li>

        <!--<li>
            <a href="http://mayflo.ru/bouquet/category_27/"> - Все букеты</a>
        </li>-->

    </ul>

</li>



<li>
    <a href="http://mayflo.ru/bouquet/category_9/">Корзины</a>
</li>

<li>
    <a href="http://mayflo.ru/unusual/category_11/">Подарки</a>
</li>