{% comment %}
<div class="slider" id="partners">
    <div class="head">
        <div>Наши партнеры</div>
    </div>
    <ul class="partners">
        <li><img src='{{ STATIC_URL }}images/partner1.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner2.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner3.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner4.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner5.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner6.jpg'></li>

        <li><img src='{{ STATIC_URL }}images/partner1.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner2.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner3.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner4.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner5.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner6.jpg'></li>

        <li><img src='{{ STATIC_URL }}images/partner1.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner2.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner3.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner4.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner5.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner6.jpg'></li>

        <li><img src='{{ STATIC_URL }}images/partner1.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner2.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner3.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner4.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner5.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/partner6.jpg'></li>
    </ul>
</div>
{% endcomment %}

<div class="slider" id="partners">
    <div class="head">
        <div>Наши партнеры</div>
    </div>
    <div class="shadow_partners"></div>
    <ul class="partners">
        <li><img src='{{ STATIC_URL }}images/logo_cyan.png'></li>
        <li><img src='{{ STATIC_URL }}images/florana.gif'></li>
        <li><img src='{{ STATIC_URL }}images/santa.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/rosa_prima.gif'></li>
        <li><img src='{{ STATIC_URL }}images/vintage.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/grade.jpg'></li>

        <li><img src='{{ STATIC_URL }}images/moniflor.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/megaroses.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/inroses.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/ex.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/corazon.jpg'></li>
        <li><img src='{{ STATIC_URL }}images/artroses.jpg'></li>
    </ul>
</div>