        <div style="width: 1138px; float:left; margin-bottom:17px; margin-left:12px; box-shadow: 0 5px 9px #ccc;">
<div class="alt_menu" style="">
<div class="alt_menu_cont" style="/*margin-bottom: 10px; padding-top:10px;*/">

<div class="first_menu">
    <a class="Text" style="padding-left:20px;" href="http://mayflo.ru/bouquet/category_21/">101 роза</a> 
    <div class="Clear"></div>
</div>
<div class="first_menu">
    <a class="Text" href="http://mayflo.ru/bouquet/category_22/">Акция</a>
    <div class="Clear"></div>
</div>

<div class="first_menu">
    <a class="Text" href="http://mayflo.ru/bouquet/category_27/" <!--onclick="return false;"-->Все Букеты</a>
    <div class="Clear"></div>
</div>

<!--<div class="first_menu Else" style="/*border-left:1px solid #C8C2C2; border-radius:0 0 5px 5px; background:#6FA757;*/ ">
    <a class="Text" style="/*padding:8px 15px 8px 18px; font-size:15px; text-decoration: underline;*/" href="http://mayflo.ru/bouquet/category_27/">Все букеты</a>
    <div class="Clear"></div>
</div>-->

<div class="first_menu">
    <a class="Text" href="http://mayflo.ru/delivery_info/">Условия Доставки</a>
    <div class="Clear"></div>
</div>

<div class="first_menu">
    <a class="Text" href="http://mayflo.ru/payment_info/">Условия Оплаты</a>
    <div class="Clear"></div>
</div>

<div class="Clear"></div>
</div>
</div>
</div>
